.character-container {
  display: flex;
  flex-direction: column;
  min-width: 250px;
}

.selected-card {
  margin-bottom: 8px;
}

.character-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-button {
  margin: 8px;
  min-height: 100px;
  max-width: 100px;
}